/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

body, header {
    background-color: rgb(250, 253, 255);
    color: rgb(97, 145, 180);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}
  
/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}
  
/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}
  
/* Customize container */
@media (min-width: 48em) {
    .container {
      max-width: 65rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}
  
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron__title {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.jumbotron__intro {
    font-size: 1.75rem;
    font-weight: 375;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}
  
/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

.container-cards {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.container-cards.container-cards--center {
    align-items: center;
}

.container-cards.container-cards--vertical {
    flex-direction: column;
}

.project-section-title {
    margin: 40px 0px;
    font-weight: 350;
    letter-spacing: 2px;
    font-size: 1.75em;
}

.project-card {
    width: 95%;
    background: aliceblue;
    margin: 25px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}

.project-card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.project-card-description {
    margin-bottom: 15px;
}

.project-card-skills-container {
    display: flex;
    flex-direction: row;
}

.project-card-skills-item {
    font-size: .85em;
    margin-right: 10px;
    padding: 5px;
    border-bottom: 2px solid blanchedalmond;
}

.employer-link {
    /* color: rgb(205,214,249) !important; */
    color: lightslategray !important;
    transition: color .30s ease .10s !important;
}

.employer-link:hover {
    color: inherit !important;
}

.nav-item {
    display: block;
    padding: .5rem 1rem;
}

.nav-item__link {
    font-size: 1.25rem;
    font-weight: 300;
    color: inherit;
}
  
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
}
  